
.container {
    width: 1280px;
    height: auto;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.top-logo {
    float: left;
    margin: 61px 0px 0px 101px;
    }

.top-logo-link {
    font-family: 'Myriad Pro', Serif;
    color: #000000;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.top-logo-unit {
    color: #4bcaff;

   }

/* Main menu decoration */

.top-menu {
    width: auto;
    height: 70px;
    background-color: #35444f;
    text-align: center;
    margin: 45px 0px 0px 101px;
    transition: 0.4s;
    }

.top-menu-items {
    display: inline-block;
    padding: 24px 41px;
    border: 1px solid #35444f;
    }

.top-menu-items:hover {
    border: 1px solid #ffffff;
    background-color: #222f3a;
    }

.top-menu-link {
    text-transform: none;
    text-decoration: none;
    font-family: 'Myriad Pro', Serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

.main-content {
    margin: 50px 0px 0px 101px;
}

.left-menu {
    float: left;
    width: 310px;
    height: 400px;
    border: 1px solid #35444f;
    list-style: none;
   }

.left-menu-items {
    text-align: center;
    /*background-color: #fff;*/
    padding: 29px 69px;
    transition: .4s;
}

.left-menu-link {
    font-family: 'Myriad Pro', Serif;
    color: #485863;
    font-size: 22px;
    text-transform: none;
    text-decoration: none;
}

.left-menu-link:hover .left-menu-items {
    background-color: #dcdcdc;
    color: #000000;
}

.main-img {
    float: right;
    width:820px;
    height: 529px;
    border: 1px solid #35444f;
    text-align: center;
    }

.main-img > img {
    padding: 74px 0px;
}

.main-text {
    font-family: 'Myriad Pro', Serif;
    float: right;
    width:820px;
    padding: 20px 0px;
}

p {
    color: #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    padding-top: 30px;
}

/* footer decoration */

.footer {
    margin: 45px 0px 0px 101px;
    height: 70px;
    background-color: #b5b8bb;
    margin-bottom: 30px;
}

.footer-menu {
    float: left;
    text-align: left;
}

.footer-menu:first-child {
    margin-left: 40px;
}

.footer-menu-items {
    display: inline-block;
    border-bottom: 1px solid #b5b8bb;
    margin: 18px 15px 2px 0px;
}

.footer-menu-link {
    font-family: 'Myriad Pro', Serif;
    font-size: 30px;
    font-weight: 400;
    color: #0c1927;
    text-transform: none;
    text-decoration: none;
    transition: .4s;
}

.footer-menu-link:hover {
    color: #2d82a7;
    border-bottom: 1px solid #2d82a7;
}

.copyright {
    float: right;
}

.copyright-text {
    margin-right: 40px;
    margin-top: -10px;
    font-family: 'Myriad Pro', Serif;
    color: #010000;
    font-size: 30px;
    font-weight: 400;
}

.copyright-logo::after {
    content: "\00A9";
    padding-left: 5px;
    font-size: 28px;

}